.footer-section{
  height: 150px;
  background-color: rgb(0, 120, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
}

.fa-facebook, .fa-facebook-messenger, .fa-github{
  font-size: 25px;
  color: white;
  margin: 4px;
}

.design{
  color: white;
  font-size: .9rem;
  margin-top: 5px;
}