main{
  padding-top: 90px;
}

@media (max-width: 575px) {
  main{
    padding-top: 70px;
  }
}


.home-container{
  position: relative;
  height: 100vh;
}

.home-background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.text-animation{
  position: relative;
  display: flex;
  justify-content: center;
  top: 35vh;
  margin: 0;
  color: white;
  z-index: 2;
}
.text-name{
  font-size: 1.7em;
}

.text-career{
  display: flex;
  justify-content: center;
}



.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  margin: 8vh 5vh 10vh 5vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}


/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .about-container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.4fr 0.6fr;
  }
}


.about-profile{
  text-align: center;
}

.about-image{
  margin-top: 35px;
  margin-bottom: 15px;
  width: 80%;
}

/* Styles for extra extra large devices */
@media (min-width: 1400px) {
  .about-image{
    width: 50%;
  }
}

.about-name{
  display: flex;
  justify-content: center;
}

.about-name-span{
  font-weight: bold;
}

.skills-container{
  height: 100%;
  margin: 5vh 5vh 0vh 5vh;
}

.skills{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .skills{
    margin-bottom: 10px;
  }
}

.skills-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .skills-text{
    margin-bottom: 3px;
  }
}

.progress-bar{
  width: 100%;
  background-color: rgb(221, 221, 221);
  margin-bottom: 10px;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .progress-bar{
    margin-bottom: 8px;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .progress-bar{
    margin-bottom: 6px;
  }
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .progress-bar{
    margin-bottom: 8px;
  }
}

.html{width: 50%; height: 15px; background-color: #0078ff;}
.css{width: 45%; height: 15px; background-color: #0078ff;}
.javascript{width: 35%; height: 15px; background-color: #0078ff;}
.csharp{width: 30%; height: 15px; background-color: #0078ff;}
.aspnet{width: 30%; height: 15px; background-color: #0078ff;}
.git{width: 40%; height: 15px; background-color: #0078ff;}
.github{width: 40%; height: 15px; background-color: #0078ff;}
.figma{width: 40%; height: 15px; background-color: #0078ff;}

.about-me-container{
  margin: 50px 38px 50px 38px;
  text-align: justify;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-me-container{
    margin: 45px 28px 35px 28px;
  }
}

.about-me{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3vh;
}

/*PORTFOLIO*/
.portfolio-container{
  text-align: center;
  margin: 8vh 5vh 0vh 5vh;
  padding: 5vh;
  color: black;
}

.portfolio-header{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2vh;
}

.my-portfolio{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 100%;
}

.portfolio-overview{
  width: 60%;
}

.portfolio-title{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 2vh;
}

.portfolio-image{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.portfolio-pc{
  width: 70%;
  height: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.portfolio-mobile{
  width: 17.7%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.language-and-tools{
  display: flex;
  justify-content: center;
  column-gap: 2vh;
}

.html-tool, .css-tool, .javascript-tool{
  background-color: rgb(0, 120, 255);
  color: white;
  border-radius: 5vh;
  padding: 1vh 3vh 1vh 3vh;
}

.portfolio-description-container{
  width: 35%;
  justify-content: center;
}


/* Styles for small devices */
@media (max-width: 767px) {
  .portfolio-overview{
    width: 100%;
  }
  .portfolio-description-container{
    width: 100%;
  }
}

.portfolio-description{
  margin-top: 5vh;
  width: 100%;
  font-size: .9em;
  text-align: justify;
  margin-bottom: 5vh;
}

.view-website-btn button{
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: white;
  text-decoration: none;
  width: 80%;
  padding: 1.5vh;
  background-color: rgb(0, 120, 255);
  border: none;
  border-radius: 50vh;
  cursor: pointer;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .my-portfolio{
    margin-bottom: 6vh;
  }
  .language-and-tools{
    display: flex;
    justify-content: center;
    column-gap: 1vh;
  }
  .html-tool, .css-tool, .javascript-tool{
    padding: .5vh 1vh .5vh 1vh;
  }
  .portfolio-description{
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .view-website-btn button{
    width: 80%;
    padding: .8vh;
    border-radius: 50vh;
  }
}
/*CONTACT*/
.contact-title{
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5vh;
}
.contact-container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4vh 2vh 4vh 2vh;
  width: 90%;
  margin: 0vh 5vh 10vh 5vh;
  row-gap: 1vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.fa-location-dot{
  font-size: 2rem;
  color: #0078ff;
  padding: 2vh 2.5vh;
  margin-right: 2vh;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #0078ff;;
}

.fa-phone, .fa-envelope{
  font-size: 2rem;
  color: #0078ff;
  padding: 2vh;
  margin-right: 2vh;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #0078ff;;
}

.address-container, .telephone-container, .email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  text-wrap: wrap;
}
.address-container{
  width: 30%;
}
.telephone-container{
  width: 30%;
}
.email-container {
  width: 36%;
}

.address-container i, .telephone-container i, .email-container i{
  cursor: pointer;
}

.address-container i:hover, .telephone-container i:hover, .email-container i:hover {
  background-color: rgb(0, 120, 255);
  color: white;
}

.telephone-container{
  margin-left: 0vh;
}

.info{
  display: block;
  font-size: .75em;
}

.scroll-up{
  background-color: rgb(0, 120, 255);
  height: 6.5vh;
  width: 6.5vh;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.fa-arrow-up{
  font-size: 15px;
  color: white;
}

@media (max-width: 840px){
  .address-container, .telephone-container, .email-container {
    width: 100%;
    justify-content: flex-start;
    padding-left: 5vh;
  }
}

@media (min-width: 768px) {
  .contact-info{
    font-size: 1.125rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Styles for extra small devices */
@media (max-width: 767px) {
  .contact-info{
    padding-left: 2vh 2vh 2vh 8vh;
  }
  .address-container, .telephone-container, .email-container {
    margin: 10px 0px 10px 0px;
  }
}

@media (max-width: 575px) {.contact-info{
  padding: 1vh 1vh 1vh 2vh;
}
  .fa-location-dot{
    font-size: 1.5rem;
    padding: 1.5vh 1.8vh;
  }
  .fa-phone, .fa-envelope{
    font-size: 1.5rem;
    padding: 1.5vh;
  }
  .address-container, .telephone-container, .email-container {
    padding-left: 1vh;
  }
}