main{
  display: flex;
  flex-direction: column;
}


.home-container{
  position: relative;
  height: 100vh;
}

.home-background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.text-animation{
  position: relative;
  display: flex;
  justify-content: center;
  top: 35vh;
  margin: 0;
  color: white;
  z-index: 100;
}
.text-name{
  font-size: 1.7em;
}

.text-career{
  display: flex;
  justify-content: center;
}



.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8vh 5vh 10vh 5vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}


/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-container{
    grid-template-columns: 1fr;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .about-container{
    grid-template-columns: 1fr;
  }
}


.about-profile{
  text-align: center;
}

.about-image{
  margin-top: 35px;
  margin-bottom: 15px;
  width: 80%;
}

.about-name{
  display: flex;
  justify-content: center;
}

.about-name-span{
  font-weight: bold;
}

.skills-container{
  margin: 5vh 5vh 0vh 5vh;
}

.skills{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3vh;
}

.progress{
  margin-bottom: 3vh;
}

.about-me-container{
  margin: 45px 38px 57px 38px;
  text-align: justify;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-me-container{
    margin: 45px 28px 35px 28px;
  }
}

.about-me{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3vh;
}

.portfolio-container{
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin: 8vh 5vh 10vh 5vh;
}

.contact-container{
  text-align: center;
}

.contact-title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5vh;
}

.contact-info{
  display: grid;
  grid-template-columns: 1fr;
  padding: 17px 0px 11px 40px;
  margin: 0vh 5vh 10vh 5vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .contact-info{
    font-size: 1.125rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.icon {
  width: 5vh;
  height: 5vh;
  object-fit: contain;
  padding: 1.5vh;
  margin-right: 2vh;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgb(255, 191, 0);
}

.address-container, .telephone-container, .email-container {
  display: flex;
  align-items: center;
  text-align: start;
}

/* Styles for extra small devices */
@media (max-width: 767px) {
  .address-container, .telephone-container, .email-container {
    margin: 10px 0px 10px 0px;
  }
}

.telephone-container{
  margin-left: 0vh;
}

@media (min-width: 840px){
  .telephone-container{
  margin-left: 5vh;
  }
}

.info{
  display: block;
  font-size: .75em;
}