main{
  padding-top: 90px;
}

@media (max-width: 575px) {
  main{
    padding-top: 70px;
  }
}


.home-container{
  position: relative;
  height: 100vh;
}

.home-background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.text-animation{
  position: relative;
  display: flex;
  justify-content: center;
  top: 35vh;
  margin: 0;
  color: white;
  z-index: 2;
}
.text-name{
  font-size: 1.7em;
}

.text-career{
  display: flex;
  justify-content: center;
}



.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  margin: 8vh 5vh 10vh 5vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}


/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .about-container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.4fr 0.6fr;
  }
}


.about-profile{
  text-align: center;
}

.about-image{
  margin-top: 35px;
  margin-bottom: 15px;
  width: 80%;
}

/* Styles for extra extra large devices */
@media (min-width: 1400px) {
  .about-image{
    width: 50%;
  }
}

.about-name{
  display: flex;
  justify-content: center;
}

.about-name-span{
  font-weight: bold;
}

.skills-container{
  height: 100%;
  margin: 5vh 5vh 0vh 5vh;
}

.skills{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .skills{
    margin-bottom: 10px;
  }
}

.skills-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .skills-text{
    margin-bottom: 3px;
  }
}

.progress-bar{
  width: 100%;
  background-color: rgb(221, 221, 221);
  margin-bottom: 10px;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .progress-bar{
    margin-bottom: 8px;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .progress-bar{
    margin-bottom: 6px;
  }
}

/* Styles for medium devices */
@media (min-width: 768px) and (max-width: 991px)  {
  .progress-bar{
    margin-bottom: 8px;
  }
}

.html{width: 50%; height: 15px; background-color: #0078ff;}
.css{width: 45%; height: 15px; background-color: #0078ff;}
.javascript{width: 35%; height: 15px; background-color: #0078ff;}
.csharp{width: 30%; height: 15px; background-color: #0078ff;}
.aspnet{width: 30%; height: 15px; background-color: #0078ff;}
.git{width: 40%; height: 15px; background-color: #0078ff;}
.github{width: 40%; height: 15px; background-color: #0078ff;}
.figma{width: 40%; height: 15px; background-color: #0078ff;}

.about-me-container{
  margin: 50px 38px 50px 38px;
  text-align: justify;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .about-me-container{
    margin: 45px 28px 35px 28px;
  }
}

.about-me{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3vh;
}

.portfolio-container{
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin: 8vh 5vh 10vh 5vh;
}

.contact-container{
  text-align: center;
}

.contact-title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5vh;
}

.contact-info{
  display: grid;
  grid-template-columns: 1fr;
  padding: 17px 0px 17px 40px;
  margin: 0vh 5vh 10vh 5vh;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .contact-info{
    font-size: 1.125rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .contact-info{
    grid-template-columns: 1fr;
    padding: 17px 0px 17px 25px;
  }
}

.fa-location-dot{
  font-size: 2rem;
  color: #0078ff;
  padding: 2vh 2.5vh;
  margin-right: 2vh;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #0078ff;;
}

@media (max-width: 575px) {
  .fa-location-dot{
    font-size: 1.5rem;
    padding: 1.5vh 1.8vh;
  }
}

.fa-phone, .fa-envelope{
  font-size: 2rem;
  color: #0078ff;
  padding: 2vh;
  margin-right: 2vh;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #0078ff;;
}

@media (max-width: 575px) {
  .fa-phone, .fa-envelope{
    font-size: 1.5rem;
    padding: 1.5vh;
  }
}

.address-container, .telephone-container, .email-container {
  display: flex;
  align-items: center;
  text-align: start;
}

/* Styles for extra small devices */
@media (max-width: 767px) {
  .address-container, .telephone-container, .email-container {
    margin: 10px 0px 10px 0px;
  }
}

.telephone-container{
  margin-left: 0vh;
}

@media (min-width: 840px){
  .telephone-container{
  margin-left: 5vh;
  }
}

.info{
  display: block;
  font-size: .75em;
}

.scroll-up{
  background-color: rgb(0, 120, 255);
  height: 6.5vh;
  width: 6.5vh;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.fa-arrow-up{
  font-size: 15px;
  color: white;
}